@import "./_mixins.scss";

.accountInfoSection {
  @include section-styles;

  .accountInfoTitle {
    padding-bottom: 1.875rem;
    color: #7cb342;

    span {
      opacity: 0.6;
      font-family: "Crimson Pro", serif;
      letter-spacing: 3px;
    }

    .accountInfoHead {
      letter-spacing: 0em;
      font-size: 1.4rem;
      -webkit-text-stroke: 0.2px;
      line-height: 2;
    }
  }

  .infoMessage {
    color: #666;
    margin-bottom: 2rem;
  }
}

.accountDetails {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.accountItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;

  p {
    margin: 0;
  }

  .accountNumber {
    font-size: 0.9rem;
    color: #555;
  }

  button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.9rem;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}

.accordionContainer {
  margin-top: 2rem;
}

.accordionItem {
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden; // Ensures content doesn't spill out during transition

  &:last-child {
    margin-bottom: 0;
  }
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #dceadb;
  cursor: pointer;
  font-size: 1.1rem;
  color: #000;

  &:hover {
    background-color: #d0e1cf;
  }

  .toggleIcon {
    font-size: 1rem;
    transition: transform 0.3s ease;
  }

  &.open .toggleIcon {
    transform: rotate(180deg);
  }
}

.accordionContent {
  padding: 0 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;

  &.open {
    max-height: 500px; // Sufficiently large value for content
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .accountPerson {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
  }

  .accountItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px dashed #eee;

    &:last-child {
      border-bottom: none;
    }

    p {
      margin: 0;
    }

    .accountNumber {
      font-size: 0.9rem;
      color: #555;
    }

    button {
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      padding: 0.5em 1em;
      border-radius: 5px;
      cursor: pointer;
      font-family: inherit;
      font-size: 0.9rem;

      &:hover {
        background-color: #e9e9e9;
      }
    }
  }
}
