@import "./_mixins.scss";

.calendarSection {
  @include section-styles;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7cb342;
    // margin-bottom: 1.5rem;
  }

  .calendarTime {
    padding: 0.5rem 0;
    letter-spacing: 0px;
    opacity: 0.8;
    font-size: 1.2rem;
    color: #332e2e;
    margin-top: 7px;
    -webkit-text-stroke: 0.2px;
  }
}

// .divider {
//   margin: 1.5rem auto;
//   width: 75%;
//   height: 1px;
//   background-color: #eee;
// }

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 400px;
  margin: 1.25rem auto 0;
  padding: 0.875rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.dayName,
.dateCell {
  font-size: 0.9rem;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dayName {
  font-weight: bold;

  /* Sunday */
  &:first-child {
    color: #d9534f;
  }

  /* Saturday */
  &:last-child {
    color: #428bca;
  }
}

.dateCell {
  /* Sunday */
  &:nth-child(7n + 1) {
    color: #d9534f;
  }

  /* Saturday */
  &:nth-child(7n) {
    color: #428bca;
  }
}

.weddingDay {
  background-color: #fdf4f4;
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  color: #d9534f;
  border: 1px solid #f1bebe;

  .heart {
    position: absolute;
    bottom: -8px; /* Adjust to position it correctly */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem; /* Slightly larger */
    color: #d9534f;
  }
}

.countdown {
  margin-top: 2rem;
  padding: 1.5rem;
  text-align: center;

  p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }

  .timer {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    letter-spacing: 1px;
  }
}
