@import './_mixins.scss';

.calendarSection {
  @include section-styles;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.dayName, .dateCell {
  font-size: 0.9rem;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dayName {
  font-weight: bold;

  /* Sunday */
  &:first-child {
    color: #d9534f;
  }

  /* Saturday */
  &:last-child {
    color: #428bca;
  }
}

.dateCell {
  /* Sunday */
  &:nth-child(7n + 1) {
    color: #d9534f;
  }

  /* Saturday */
  &:nth-child(7n) {
    color: #428bca;
  }
}

.weddingDay {
  background-color: #fdf4f4;
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  color: #d9534f;
  border: 1px solid #f1bebe;

  .heart {
    position: absolute;
    bottom: -8px; /* Adjust to position it correctly */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem; /* Slightly larger */
    color: #d9534f;
  }
}