@import "./_mixins.scss";

.gallerySection {
  @include section-styles;

  .galleryTitle {
    padding-bottom: 1.875rem;
    color: #7cb342;

    span {
      opacity: 0.6;
      font-family: "Crimson Pro", serif;
      letter-spacing: 3px;
    }

    .galleryHead {
      letter-spacing: 0em;
      font-size: 1.4rem;
      -webkit-text-stroke: 0.2px;
      line-height: 2;
    }
  }
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.galleryItem {
  cursor: pointer;
  aspect-ratio: 10 / 13;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
  }
}
