@import "./_mixins.scss";

.gallerySection {
  @include section-styles;

  .galleryTitle {
    padding-bottom: 1.875rem;
    color: #7cb342;

    span {
      opacity: 0.6;
      font-family: "Crimson Pro", serif;
      letter-spacing: 3px;
    }

    .galleryHead {
      letter-spacing: 0em;
      font-size: 1.4rem;
      -webkit-text-stroke: 0.2px;
      line-height: 2;
    }
  }
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.galleryItem {
  cursor: pointer;
  aspect-ratio: 10 / 13;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  position: relative;
  width: 90%;
  max-width: 800px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10; /* Ensure it's above the swiper */
}

.swiperContainer {
  width: 100%;
  height: auto;

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: #333;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #333;
  }
}

.swiperImage {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}
