@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap");

.introSection {
  padding: 0;
  position: relative;
}

.mainPhoto {
  width: 100%;
  height: auto;
  display: block;
}

.introText {
  padding: 3rem 1.5rem;
  text-align: center;

  .name {
    padding: 30px 0 20px 0;
    letter-spacing: 1px;
    color: #000;

    span {
      padding: 0 5px;
      font-size: 1.25rem;
      -webkit-text-stroke: 0.2px;

      &.gona {
        // 김윤서가 1px 모자르다고해서 추가함;;
        padding-right: 4px;
      }
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin-bottom: 1.5rem;
  }

  .date,
  .location {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
}

.names {
  padding-top: 30px;
  margin: 2.5rem 0;

  &:before {
    content: "";
    display: block;
    margin: 1rem auto 3rem;
    width: 30px;
    height: 1px;
    background-color: #ddd;
  }

  .namesMain {
    margin: 0.5rem 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .order {
    display: inline-block;
    width: 38px;
  }

  strong {
    font-size: 1.1rem;
    font-weight: bold;
  }
}

.invitation {
  padding-top: 108px;
}

.invitationTitle {
  color: #7cb342;

  span {
    opacity: 0.6;
    font-family: "Crimson Pro", serif;
    letter-spacing: 3px;
  }

  .invitationHead {
    letter-spacing: 0em;
    font-size: 1.4rem;
    -webkit-text-stroke: 0.2px;
    line-height: 2;
  }
}

.invitationMessage {
  margin-top: 2.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}
