.App {
  max-width: 430px; /* Typical mobile screen width */
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.fullWidthImage {
  width: 100%;
  display: block; /* Remove extra space below image */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.8;
}

.imageOverlayContainer {
  position: relative;
  width: 100%;
  margin-top: 2rem; /* Moved here */
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(255, 255, 255, 0) 25%,
    transparent 35%,
    transparent 65%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
  z-index: 1; /* Ensure it's below the text */
}

.quoteText {
  position: absolute;
  top: calc(50% + 120px); /* Moved down by 20px */
  left: 10%; /* Adjusted for left alignment */
  transform: translateY(-50%); /* Adjusted for left alignment */
  z-index: 2;
  color: #fff; /* White color */
  font-size: 0.9rem; /* Slightly smaller */
  font-weight: normal; /* Gowun Dodum might look better without bold */
  text-align: left;
  width: 80%;
  line-height: 1.5;
  font-family: "Noto Serif KR", serif; /* New elegant font */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Darker shadow for white text */
}
