@import "./_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Serif+KR&display=swap");

html {
  font-size: clamp(14.52px, 3.03vw, 19.36px);
}

body {
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #efefef;
}

* {
  box-sizing: border-box;
  -webkit-text-stroke: 0.2px;
}
